*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background: #ffffff;
    position: absolute;
  }
  
  .conter1{
    
      position: absolute;
      width: 1170px;
    margin: 40px 375px 0px;
  }
  
  .conter2{
      position: absolute;
      width: 522px;
  }
  
  .conter3{
      position: absolute;
      width: 1920px;
  }
      
  .doplogo{
      position: absolute;
      width: 137px;
  }
  
  .imglogo{
      position: absolute;
      width: 35px;
      background: url(logo.png);
    margin: 40px 375px 00px;
    
  }
  
  .textlogo{
      position: absolute;
      width: 88px;
    margin: 45px 424px 0px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 24px;
  }
  
  .Be{
    display: flex;
      width: 88px;
    margin: -28px 65px 0px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 24px;
    color: #F25822;
  }
  
      
  nav{
    
      width: 533px;
    margin: 51px 1012px 0px;
  }
      
  .nav1{
    font-weight: 600;
      font-family: sans-serif;
      font-size: 14px;
      color: #000000;
  
  }
  
  .nav11{
    font-weight: 600;
      width: 533px;
      height: 17px;
      font-family: sans-serif;
      font-size: 14px;
      color: #F25822;
  }
       
  .section{
      position: absolute;
      width: 522px;
    margin: 164px 373px 0px;
  
  }
  
  .section1{
      position: absolute;
      width: 520px;
      height: 222px;
      font-family: sans-serif;
      font-size: 60px;
      line-height: 70px;
      color: #000000;
    margin: 164px 373px 0px;
  
  
  }
  
  .sectoin21{
      position: absolute;
      width: 466px;
      height: 48px;
      position: absolute;
      width: 466px;
      font-family: sans-serif;
      font-size: 20px;
      line-height: 23px;
      color: #888888;
    margin: 403px 373px 0px;
  
  }
  
  .knpka{
      position: absolute;
      width: 302px;
    margin: 488px 373px 0px;
    
  
  }
  
  .kn1{
    border: none;
      height: 50px;
      width: 140px;
      color: #ffffff;
      background: #F25822;
      box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    font-family: sans-serif;
  }
  
  
  .kn2{
      border:none;
      width: 90px;
      font-family: sans-serif;
      font-size: 15px;
      line-height: 0px;
      color: #AAAAAA;
  }
  
  .imgos{
      position: absolute;
      width: 610.73px; 
    margin: 163px 936px 0px;
  
  }
  
  .logotapeimg{
     position: absolute;
     width: 1920px;
     background: #FFFFFF;
     margin: 750px 700px 0px;
    
  }
  article{
      position: absolute;
      width: 200px;
      background: #FFFFFF;
      margin: 900px 0px 0px;
  }